body {
    margin: 0;
    padding: 0;
}

#form-container {
    position: absolute;
    width: 350px;
    margin: 10px 10px;
    word-wrap: anywhere;
    padding: 50px 10px 10px 10px;
    border: 4px;
    border-radius: 10px;
    font-size: 12px;
    text-align: left;
    color: #222;
    background: lightgray;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#add-container {
    position: absolute;
    width: 30px;
    margin: 10px 10px;
    word-wrap: anywhere;
    padding: 10px;
    border: 4px;
    border-radius: 10px;
    font-size: 12px;
    text-align: left;
    color: #222;
    background: lightgray;
}

.add-button {
    margin: 10px 0;
    padding: 10px;
}

.toggle-edit-map {
    background-image: url('plus-svgrepo-com.svg');
    height: 30px;
    cursor: pointer;
}

.rotate {
    transform: rotate(45deg);
}

.input-marker {
    background-image: url('map-pin-svgrepo-com.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(0px, -15px);
  }

.mapboxgl-marker {
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .mapboxgl-popup-content img {
    max-width: 200px;
  }

.form-container-display {
    display: table;
}

.hide {
    display: none;
}